body{
    background:#f4f7fa;
    transition:0.3s;
    font-family:Arial, sans-serif;
}


/* TOP CARDS */

.top-card{
    border:none;
    border-radius:15px;
}


/* HABIT CARDS */

.habit-card{
    border:none;
    border-radius:15px;
    transition:0.3s;
}

.habit-card:hover{
    transform:translateY(-5px);
}


/* CHART CARD */

.chart-card{
    border:none;
    border-radius:15px;
}


/* BUTTONS */

.btn{
    border-radius:10px;
}


/* DARK MODE */

body.dark-mode{
    background:#121212 !important;
    color:white !important;
}


/* DARK MODE CARDS */

body.dark-mode .card{
    background:#1f1f1f !important;
    color:white !important;
}


/* DARK MODE TEXT */

body.dark-mode .text-muted{
    color:#bbbbbb !important;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode p,
body.dark-mode strong,
body.dark-mode small,
body.dark-mode span{
    color:white !important;
}


/* DARK MODE BUTTONS */

body.dark-mode .btn-primary{
    background:#0d6efd;
}

body.dark-mode .btn-danger{
    background:#dc3545;
}

body.dark-mode .btn-success{
    background:#198754;
}

body.dark-mode .btn-warning{
    background:#ffc107;
    color:black !important;
}


/* ACHIEVEMENT BADGES */

.badge{
    font-size:14px;
    border-radius:10px;
}


/* SMOOTH TRANSITION */

.card,
.btn,
body{
    transition:0.3s ease;
}


body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
}

.hero{
    height:90vh;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url('https://images.unsplash.com/photo-1499750310107-5fef28a66643');

    background-size: cover;
    background-position: center;
}


/* MOBILE RESPONSIVE */

@media(max-width:768px){

    h2{
        font-size:24px;
    }

    h3{
        font-size:20px;
    }

    .btn{
        width:100%;
    }

    .card{
        padding:20px !important;
    }

    canvas{
        height:250px !important;
    }
}